.navigation{
    width:100%;
    background-color: rgba(0,0,0,.6);
}
.nav-logo{
    width:120px;
    margin-right: 50%;
    margin-bottom: -40px;
    background-color: rgba(255,255,255,.8);
}
.nav-button{
    display: inline-block;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left:-4px;
    text-decoration: none;
    color: white;
    transition: color .5s, background-color 0.5s;
}
.nav-button.active{
    display: inline-block;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left:-4px;
    background-color: rgba(255,255,255,.8);
    text-decoration: none;
    color: black;
}
.nav-button:hover{
    display: inline-block;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left:-4px;
    text-decoration: none;
    background-color: rgba(255,255,255,.8);
    color: black;
}